* { 
    margin: 0; 
    padding: 0; 
  }
  body {
    background-color: rgba(241, 0, 113, 0.89); 
  }
  
  .box1 {
    background-color:rgba(255, 136, 0, 0.959);
    width:30px;
    height:25px;
    position:static;
    top:500px;
    left:350px;
    float:left;
    border: 5px solid rgb(253, 36, 235)
  

 }

 .box2  {
  background-color:#2596be;
  width:100px;
  height:10px;
  position:static;
  top: 40px;
  left: 250px;
  float:left;
  border: 10px solid rgba(153, 248, 0, 0.308);

 }

 .box3  {
  background-color:#e01620;
  width:200px;
  height:25px;
  position:rela;
  float:left;
  border:5px solid #2596be;
 }

 .box4  {
  background-color:rgb(129, 4, 247);
  width:300px;
  height:20px;
  position:static;
  float:right;
  top:50px;
  left: 400px;
  border:10px solid #75eaff;
 }

 .box5  {
  background-color: rgb(166, 255, 0);
  width: 30px;
  height:80px;
 position: static; 
 float:right; 
 top: 35px;
 left: 500px;
 border: 25px solid yellow

 }
